<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Jakidy</title>
    <style type="text/css" media="screen">
     @import "/static/jqtouch.css";
     @import "/static/theme.css";
    </style>
 <script src="/static/libs.js" type="text/javascript" charset="utf-8"></script>
 <script src="/static/food.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
 <div id="home">
  <div class="toolbar">
   <h1>Jakidy</h1>
   <a href="#newfood" class="button flipright">+</a>
  </div>
  <ul class="edgetoedge">
   {% for f in foods %}
    <li class="arrow">
        <a href="#f{{ f.id }}">{{ f.name|title }},
         <em>{{f.food.kcal}} kcal
          ({{ f.food.kcc_cent }}/{{ f.food.kcf_cent }}/{{ f.food.kcp_cent }})</em></a>
    </li>
   {% endfor %}
  </ul>
 </div>
 
 <div id="newfood">
  <div class="toolbar">
   <h1>New Food</h1>
   <a href="#" class="button cancel">Cancel</a>
  </div>
  <form method="post">
   
   {% csrf_token %}
   
   <ul class="rounded">
    
    <!-- Names-->
    
    <li>
     <input type="text" name="name" placeholder="Common name" maxlength="45"
      autocomplete="off" autocapitalize="off" autocorrect="off" required="required" />
    </li>
    <li class="fieldgroup by2">
     <input type="text" name="family" placeholder="Family" maxlength="45"
      autocomplete="off" autocapitalize="off" autocorrect="off"
      required="required" />
     <input type="text" name="species" placeholder="Species" maxlength="45"
      autocomplete="off" autocapitalize="off" autocorrect="off" required="required" />
    </li>
    
    
    <!-- Calories -->
    
    <li class="fieldgroup by4">
     <input type="number" name="kcal" placeholder="kcal"
      min="0" max="9999" step="0.01"
      autocomplete="off" autocapitalize="off" autocorrect="off" required="required" />
     <input type="number" name="kcc" placeholder="carb"
      min="0" max="9999" step="0.01"
      autocomplete="off" autocapitalize="off" autocorrect="off" required="required" />
     <input type="number" name="kcf" placeholder="fat"
      min="0" max="9999" step="0.01"
      autocomplete="off" autocapitalize="off" autocorrect="off" required="required" />
     <input type="number" name="kcp" placeholder="protein"
      min="0" max="9999" step="0.01"
      autocomplete="off" autocapitalize="off" autocorrect="off" required="required" />
    </li>
    
    
    <!-- Carbs -->
    
    <li class="fieldgroup by4">
     <input type="number" name="carbs" placeholder="Carbs (g)"
      min="0" max="99" step="0.01"
      autocomplete="off" autocapitalize="off" autocorrect="off" required="required" />
     <input type="number" name="sugar" placeholder="sugar"
      min="0" max="99" step="0.01"
      autocomplete="off" autocapitalize="off" autocorrect="off" required="required" />
     <input type="number" name="fiber" placeholder="fiber"
      min="0" max="99" step="0.01"
      autocomplete="off" autocapitalize="off" autocorrect="off" required="required" />
     <input type="number" name="starch" placeholder="starch"
      min="0" max="99" step="0.01"
      autocomplete="off" autocapitalize="off" autocorrect="off" required="required" />
    </li>
    
    
    <!-- Fats -->
    
    <li class="fieldgroup by4">
     <input type="number" name="fats" placeholder="Fats (g)"
      min="0" max="99" step="0.01"
      autocomplete="off" autocapitalize="off" autocorrect="off" required="required" />
     <input type="number" name="monounsat" placeholder="monounsaturated"
      min="0" max="99" step="0.01"
      autocomplete="off" autocapitalize="off" autocorrect="off" required="required" />
     <input type="number" name="polyunsat" placeholder="polyunsaturated"
      min="0" max="99" step="0.01"
      autocomplete="off" autocapitalize="off" autocorrect="off" required="required" />
     <input type="number" name="saturated" placeholder="saturated"
      min="0" max="99" step="0.01"
      autocomplete="off" autocapitalize="off" autocorrect="off" required="required" />
    </li>
    
    
    <!-- Misc -->
    
    <li class="fieldgroup by3">
     <input type="number" name="proteins" placeholder="Proteins (g)"
      min="0" max="99" step="0.01"
      autocomplete="off" autocapitalize="off" autocorrect="off" required="required" />
     <input type="number" name="water" placeholder="Water (g)"
      min="0" max="99" step="0.01"
      autocomplete="off" autocapitalize="off" autocorrect="off" required="required" />
     <input type="number" name="ash" placeholder="Ash (g)"
      min="0" max="99" step="0.01"
      autocomplete="off" autocapitalize="off" autocorrect="off" required="required" />
    </li>
    <li>State:
     <input type="radio" id="newfood-state-F" name="state" value="F" checked="checked" />
     <label for="newfood-state-F">fresh</label>
     <input type="radio" id="newfood-state-D" name="state" value="D" />
     <label for="newfood-state-D">dry</label>
    </li>
    <li>
     <textarea name="notes" placeholder="Notes"
      autocomplete="off" autocapitalize="off" autocorrect="off"></textarea>
    </li>
    
    
    <li>
     <input type="submit" value="Save" class="submit" />
    </li>
   </ul>
  </form>
 </div>
 
 {% for f in foods %}
  <div id="f{{ f.id }}">
   <div class="toolbar">
   <h1>{{ f.name|title }}</h1>
   <a href="#" class="button back">back</a>
   </div>
   <div>
    <ul class="foodlist">
     <li>
      <!-- ({{ f.food.get_state_display }}) -->
      {{ f.food.kcal }} kcal
      
      <p>{{ f.food.kcc_cent }}% from carbs,
            {{ f.food.kcf_cent }}% from fats,
            {{ f.food.kcp_cent }}% from protein</p>
     </li>
     <li>
      Carbohydrates
      <p>{{ f.food.carbs }}g ~ {{ f.food.sugar_cent }}% sugar,
            {{ f.food.fiber_cent }}% fiber,
            {{ f.food.starch_cent }}% starch</p>
     </li>
     <li>
      Fats
      <p>{{ f.food.fats }}g ~ {{ f.food.monounsat }}% monounsaturated,
            {{ f.food.polyunsat }}% polyunsaturated,
            {{ f.food.saturated }}% saturated</p>
     </li>
     <li>
      Protein
      <p>{{ f.food.proteins }}g</p>
     </li>
     <li>
      Water
      <p>{{ f.food.water }}g</p>
     </li>
     <li>
      Ash
      <p>{{ f.food.ash }}g</p>
     </li>
     {% if f.notes %}
     <li>
      Notes
      <p>{{ f.notes }}</p>
     </li>
     {% endif %}
    </ul>
   </div>
  </div>
 {% endfor %}
 
 
</body>
</html>