@media all and (min-width: 481px) {
    body {
        width: 480px;
        margin: 0 auto
    }
}

.fieldgroup input {
    display: inline-block !important
}
.fieldgroup.by4 input {
    max-width: 23%
}
.fieldgroup.by3 input {
    max-width: 31%
}
.fieldgroup.by2 input {
    max-width: 47%
}
.fieldgroup.by2meals input[type="number"] {
    max-width: 4em;
    float: right;
}

ul.foodlist li {
  text-align: center  
}
ul.foodlist li p {
    font-weight: 400
}

#home .content em {
    font-size: .8em
}

p.smaller {
    font-weight: normal;
    font-size: .8em
}
